@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@mixin contentWidth{
  width: 1400px;
}
@mixin bodyFont {
  color: #121212;
}
@mixin pointColor {
  color: #14C6A4;
}

.App{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1920px;
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}