@charset "utf-8";

.CommuterPass {

   .ConT {
      margin: 0 auto;
   }

   .minibanner {
      width: 100%;
      height: 40px;

      img {
         width: 100%;
         height: 100%;
      }
   }

   .left {
      width: 217px;
      height: 438px;
      margin-right: 50px;

      .leftdt {
         width: 217px;
         height: 80px;
         background-color: #14C6A4;
         display: flex;
         justify-content: center;
         align-items: center;
         border-radius: 40px 10px 0 0;

         .ntall {
            margin-top: 3px;
            color: #fff;
            font-size: 26px;
         }

      }

      .leftdt2 {
         margin-top: 5px;
         width: 217px;
         height: 50px;
         background-color: #ffffff;
         border: 1px solid #14C6A4;
         display: flex;
         justify-content: center;
         align-items: center;
         cursor: pointer;

         h4 {
            font-size: 18px;
            font-weight: 500;
            margin-top: 5px;
            color: #14C6A4;
            margin: 0;
         }
      }
   }

   .ConT {
      display: flex;
   }

   .right {
      text-align: center;

      h2 {
         font-size: 32px;
         font-weight: 500;
         color: #121212;
         padding: 20px 0 20px 6px;
         text-align: center;
      }
   }

   .BTNG {
      display: flex;
      justify-content: space-between;
   }

   #button-addon2 {
      background-color: #ffffff;
      line-height: 10px;
      border: solid #dee2e6 1px;
      color: #14C6A4;
      padding: 0;
      width: 60px;
      height: 50px;
   }

   .input-group {
      width: 850px;
      height: 50px;

      button {
         border: solid #dee2e6 1px;
         border-left: none;

         &:hover span{
            color: #666;
         }
      }

      input {
         border: solid #dee2e6 1px;
         border-right: none;
      }

      span {
         color: #14C6A4;
         vertical-align: middle;
         text-align: center;
         margin: 0;

      }
   }

   .form-select {
      width: 240px !important;
      height: 50px;
      border: solid #dee2e6 1px !important;
      color: #333;
      box-shadow: none !important;
      cursor: pointer;
   }

   .form-select:focus,
   .form-control:focus,
   .form-control:focus-visible {
      outline: none !important;
      box-shadow: none !important;
      border-color: #dee2e6 !important;
   }

   .form-control {
      transition: none !important;
   }

   th {
      background-color: #f3f3f3 !important;
      color: #121212 !important;
      font-size: 16px;
      height: 40px;
      vertical-align: middle;
   }

   td {
      font-size: 14px;
      vertical-align: middle;
      height: 37px !important;
      padding: 0 !important;

      &:nth-of-type(2):hover {
         color: #14C6A4 !important;
      }
   }

   

   .SoldOut td {
      color: #9e9e9e;
   }

   .table {
      margin-top: 8px;
   }

   ul {
      text-align: left;
      margin-top: 30px;
      font-size: 12px;
   }

   // 상세보기 버튼
   .DBTN {
      color: #ffffff !important;
      background-color: #fff !important;
      border: 1px solid #dee2e6;
      padding: 0;
      color: #666666 !important;

      &:hover {
         color: #333 !important;
         border: 1px solid #dee2e6 !important;
      }

   }



   // 페이지네이션 버튼
   .PBTN {
      border: none;
      width: 70px;
      font-weight: 500;
   }

   span {
      margin: 0 26px;
   }



   &:focus,
   &:active,
   &:focus-visible {
      outline: none !important;
      box-shadow: none !important;
      border: none !important;
   }


   .PBTN.active {
      font-weight: bold;
   }

   .IC {
      color: #14C6A4;
   }

   .PNBTN button {
      background-color: #14C6A4;
   }

   button:focus,
   button:active {
      outline: none !important;
      box-shadow: none !important;
   }

   .btn-primary {
      --bs-btn-active-bg: #14C6A4;
   }
}