@charset "uft-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.headerbox {
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.minibanner {
    width: 100%;
    height: 40px;
    margin: 0 auto;
    margin-top: 16px;

    img {
        width: 100%;
        height: 100%;
    }
}

.dtnoticewrap {
    width: 1400px;
    height: auto;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    padding-bottom: 88px;

    .leftdtwrap {
        width: 217px;
        height: 438px;

        .leftdt {
            width: 217px;
            height: 80px;
            background-color: #14C6A4;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 40px 10px 0 0;

            .ntall {
                margin-top: 3px;
                color: #fff;
                font-size: 26px;
            }

        }

        .leftdt2 {
            margin-top: 5px;
            width: 217px;
            height: 50px;
            background-color: #ffffff;
            border: 1px solid #14C6A4;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            h4 {
                margin: 0;
                font-size: 18px;
                font-weight: 500;
                margin-top: 5px;
                color: #14C6A4;
            }
        }

        .leftdt3 {
            margin-top: 5px;
            width: 217px;
            height: 50px;
            border: 1px solid #dee2e6;
            background-color: #ffffff;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: default;

            h4 {
                margin: 0;
                font-size: 18px;
                font-weight: 400;
                margin-top: 5px;
                color: #666;
            }

        }

    }

    .noticedetail {
        width: 1133px;
        color: #121212;

        .noticename {
            font-size: 32px;
            font-weight: 500;
            color: #121212;
            padding: 20px 0 20px 6px;
            text-align: center;
        }
    }

    .accordion-button {
        padding: 16px 0 16px 18px;
        border: none;
        box-shadow: none;

        &:focus {
            border: none;
            box-shadow: none;
            background-color: #fff !important;
        }

        &:not(.collapsed) {
            background-color: #fff !important;
        }

        p {
            margin: 0;

            &:hover {
                color: #14C6A4;
            }
        }
    }

    .accordion-button::after {
        margin-left: auto;
        margin-right: 18px;
    }

    .accordion-button:not(.collapsed) {
        color: #121212;
        font-size: 16px;
    }

    pre {
        font-size: 14px;
        color: #121212;
        font-family: "Noto Sans KR", sans-serif;
    }

    .btnbox {
        text-align: center;
        margin-top: 20px;

        button {
            background-color: #14C6A4;
            border: none;
            width: 70px;
            font-weight: 500;
        }

        .btn-primary {
            --bs-btn-active-bg: #14C6A4;
        }

        span {
            margin: 0 26px;
        }
    }
}