@charset "utf-8";

.LiveParking {
    width: 1400px;
    height: 520px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h2 {
        text-align: center;
        color: #121212;

        font: {
            size: 32px;
            weight: 500;
        }

        margin: 0;
    }

    .LpBtn {
        text-align: center;

        button {
            width: 166px;
            height: 50px;
            margin: 0 30px;
            background: transparent;
            font-size: 18px;
            color: #121212;
        }

        .LpBtn1 {
            border: 2px solid #14C6A4;

            &:hover {
                background-color: #14C6A4;
                color: #fff;
            }

            &:active{
                border-color: #14C6A4 !important;
            }
        }

        .LpBtn2 {
            border: 2px solid #FFA6DF;

            &:hover {
                background-color: #FFA6DF;
                color: #fff;
            }
            
            &:active{
                border-color: #FFA6DF !important;
            }
        }

        .LpBtn3 {
            border: 2px solid #FFB301;

            &:hover {
                background-color: #FFB301;
                color: #fff;
            }

            &:active{
                border-color: #FFB301 !important;
            }
        }
    }

    .LpBigBox {
        width: 100%;
        display: flex;
        justify-content: space-between;

        .Lp1 {
            width: 335px;
            height: 335px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            background-color: #39D5B8;
            border-radius: 16px;

            .Lp1FontBox {
                width: 100%;
                padding: 0 30px;
                margin-top: 30px;

                h2 {
                    font: {
                        size: 40px;
                        weight: 600;
                    }
                    text-align: left;

                    color: #fff;
                    margin: 0;
                }
            }

            img {
                width: 278px;
                height: auto;
            }
        }

        .LpSlide {
            width: 1043px;
            display: flex;
            justify-content: space-between;
            cursor: pointer;

            .LpSlide {
                width: 335px;
                height: 335px;
                border: 2px solid #14C6A4;
                border-radius: 16px;

                .LpSlideBox {
                    height: 100%;
                    margin: 0 28px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-evenly;
                    position: relative;

                    .LpSlideFont {

                        h3 {
                            display: inline;
                            vertical-align: middle;

                            font: {
                                size: 24px;
                                weight: 600;
                            }

                            color: #121212;
                            text-align: left;
                            margin-right: 15px;
                        }

                        p {
                            margin-top: 7px;
                            margin-bottom: 0;
                            color: #121212;

                            font: {
                                size: 14px;
                                weight: 400;
                            }
                        }

                        .parking_spot {
                            width: 33px;
                            height: 18px;
                            padding: 2px 5px;
                            display: inline;
                            border: 1px solid #14C6A4;
                            border-radius: 4px;

                            font: {
                                size: 12px;
                                weight: 500;
                            }

                            color: #14C6A4;
                        }

                        .congestion {
                            position: absolute;
                            top: 7%;
                            right: 0;
                            img{
                                width: 55px;
                                height: auto;
                            }

                            p {
                                text-align: center;
                                margin: 4px 0;
                                color: #121212;

                                font: {
                                    size: 14px;
                                    weight: 600;
                                }

                                color: #1390E8;
                            }
                        }
                    }

                    h3 {
                        text-align: left;

                        font: {
                            size: 28px;
                            weight: 600;
                        }

                        color: #14C6A4;

                        span {
                            font: {
                                size: 18px;
                                weight: 500;
                            }
                        }
                    }

                    .electricBigBox {

                        .electric2 {
                            width: 274px;
                            display: flex;
                            align-items: center;
                            padding-left: 6px;

                            img {
                                width: 18px;
                                height: auto;
                                margin-right: 5px;
                            }

                            p {
                                color: #333;
                                margin: 0;

                                font: {
                                    size: 14px;
                                    weight: 600;
                                }
                            }
                        }



                        .electricBox {
                            width: 274px;
                            height: 74px;
                            margin-top: 2%;
                            background-color: #C4F2E8;
                            border-radius: 8px;
                            display: flex;
                            justify-content: space-around;
                            align-items: center;

                            .electricfont {
                                text-align: center;

                                p {
                                    font: {
                                        size: 14px;
                                        weight: 400;
                                    }
                                    margin: 0;
                                    color: #121212;
                                }

                                h5 {
                                    margin: 8% 0;

                                    font: {
                                        size: 16px;
                                        weight: 500;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}