@charset "utf-8";

.headernav{
    background-color: rgb(248 249 250 / 81%);
}

.navbar-brand {
    img {
        width: 150px;
        height: auto;
    }
}

a.nav-link {
    font-size: 16px;
    color: #121212;
    font-weight: 500;
}