@charset 'utf-8';

// 컬러설정
$parket_main_500: #14C6A4;
$parket_main_400: #39D5B8;
$parket_main_300: #69DFC9;
$parket_main_200: #88EADA;
$parket_main_100: #B6EBE2;
$parket_sub: #C4F2E8;
$gray1: #EFEFEF;
$gray2 :#D9D9D9;


#payment {
min-width: 1400px;
padding: 0;
margin: 80px auto;


    .subtitle {
        text-align: center;
        color: #121212;
        font-size: 32px;
        font-weight: 500;
        width: 1400px;
        margin-bottom: 30px;
    }

    // 탭 바
    .paymentTabs {
        border-radius: 10px 10px 0 0;
        
        border-bottom: none;
        
        .nav-link {
        color: #121212;
        font-size: 18px;
        font-weight: 400;
        background-color: $parket_sub;
        border: 1px solid $parket_main_500;

        &.active{
            background-color: #fff;
            border-bottom: none;
        }
        }

        // 주차 요금 조회 / 정산 버튼
        .nav-item:first-of-type .nav-link {
        border-radius: 10px 0 0 0;
        border-right: 0.5px solid $parket_main_500;
        padding: 20px 0;
        }

        // 주차 예상 요금 조회 버튼
        .nav-item:last-of-type .nav-link {
        border-radius: 0 10px 0 0;
        border-left: 0.5px solid $parket_main_500;
        padding: 20px 0;
        }
    }

    // 탭 표시 내용
    .paymentTab {
        border: 1px solid $parket_main_500;
        border-radius: 0 0 10px 10px;
        border-top: none;
        padding: 60px;

        &::after {
        content: "";
        display: block;
        }

        .paymentForm {
        flex-basis: calc(200% / 3);

        .paymentLabel {
            width: 100px;
            float: left;
        }

        input[type="text"], select {
            width: calc(100% - 100px);
            height: 100%;

            

            &:focus {
            border-color: $parket_main_500;
            box-shadow: none;
            }
        }

        .selectLong{
            width: 100%;
            height: 40px;
            line-height: 40px;
            margin-bottom: 20px;
            clear: both;
        }

        .inputShortLeft{
            width: 49%;
            height: 40px;
            line-height: 40px;
            margin-right: 1%;
            margin-bottom: 20px;
            float: left;
        }

        .inputShortRight{
            width: 49%;
            height: 40px;
            line-height: 40px;
            margin-left: 1%;
            margin-bottom: 20px;
            float: right;
        }

        // 시간 선택
        .timeForm {
            display: flex;
            justify-content: space-around;

            .timeSelect{
            display: inline-block;
            width: 90px;
            }
        }

        // 전기차 충전 여부
        .checkboxInput {
            line-height: 0;
            div {display: inline;}
        }

        .checkboxLabel {
            display: inline-block;
            height: 20px;
            line-height: 20px;
            margin: 0;
        }

        // 조회하기 버튼
        .checkPay {
            width: 49%;
            margin-right: 1%;
            background-color: #ffffff;
            color: #121212;
            border-color: $parket_main_500;
            padding: 10px 0;
            font-size: 18px;
        }

        // 정산하기 버튼
        .commitPay, .estimatePay {
            width: 49%;
            margin-left: 1%;
            background-color: $parket_main_500;
            border-color: $parket_main_500;
            padding: 10px 0;
            font-size: 18px;
        }
        }

        // 요금 조회 정산 배너
        .paymentBanner {
        flex-basis: calc(100% / 3);

            .bannerBox {
            background-color: $gray2;
            width: 380px;
            height: 380px;
            margin-left: 30px;
            background-image: url(../../public/img/sidebanner.jpg);
            background-size: cover;
            background-position: center;
            cursor: pointer;
            }
        }
    }
}