@charset "utf-8";

@mixin bodyFont {
  color: #121212;
}
@mixin pointColor {
  color: #14C6A4;
}

.shortbox {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    height: 200px;
    margin-top: 85px;

    .short {
        width: 120px;
        height: 120px;
        
        button {
            width: 120px;
            height: 120px;
            border-radius: 500px;
            background-color: #fff;
            border: 3px solid;
            @include pointColor;

            img {
                width: 90px;
                height: 90px;
                border-radius: 36px;
            }
        }

        button:hover {
            cursor: pointer;
            opacity: 0.7;
        }

        p {
            font-size: 16px;
            margin-top: 8px;
            font-weight: 500;
        }
    }
}